@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

h1, h2, h3, h4, h5, h6, p, li{
  font-family: 'Montserrat', sans-serif;
  line-height: 200%;
}

.rights{
    padding: 4em 0;
    /* padding-top: 7em;
    padding-right: 0px;
    padding-bottom: 7em;
    padding-left: 0px; */
}

.cursor{
    cursor: pointer;
}

.image{
    width: 100%;
    display: block;
}

.work-item{
  margin-top: 2em;
  margin-bottom: 2em;
}

/* carousel */
.carousel .carousel-indicators li {
    background-color: #fff;
    background-color: rgba(70, 70, 70, 0.25);
}

.design-challenge .carousel .carousel-indicators li {
  background-color: #fff;
  /* background-color: rgba(70, 70, 70, 0.25); */
}
  
.carousel .carousel-indicators .active {
    background-color: #444;
}

.woop .carousel-control-prev-icon,
.woop .carousel-control-next-icon {
  height: 3.5em;
  width: 3.5em;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  /* border: 1px solid black; */
  background-image: none;
  background-color: #FFB6B7;
}

.design-challenge .carousel-control-prev-icon,
.design-challenge .carousel-control-next-icon {
  height: 3.5em;
  width: 3.5em;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  /* border: 1px solid black; */
  background-image: none;
  background-color: #34107E;
}

.ut-registration .carousel-control-prev-icon,
.ut-registration .carousel-control-next-icon {
  height: 3.5em;
  width: 3.5em;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  /* border: 1px solid black; */
  background-image: none;
  background-color: #BF5700;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 2em;
  color: white;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 2em;
  color: white;
}

/* ut registration */
.ut-registration mark{
    background: linear-gradient(180deg,rgba(255,255,255,0) 60%, rgb(255, 186, 132) 50%);
  }

.radius-img{
  border-radius: 16px;
}

/* petful */
.petful mark{
    background: linear-gradient(180deg,rgba(255,255,255,0) 60%, #FCB15D 50%);
  }